<ion-view view-title="Orders Details" ng-init="init()" cache-view="false">
  <ion-side-menus>
  <!-- Left menu -->
    <div ng-include="'templates/layouts/side-menu.html'"></div>

    <ion-side-menu-content>
      <div ng-include="'templates/layouts/header.html'"></div>

      <ion-content class="has-header">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>

        <div class="card">
          <div class="item item-text-wrap">
            <ul class="list">
                <li class="item">
                  <div class="row">
                    <strong>Nama</strong>
                  </div>
                  <div class="row">
                    {{order.customer_name}}
                  </div>
                </li>
                <li class="item">
                  <div class="row">
                    <strong>Alamat:</strong>
                  </div>
                  <div class="row">
                    {{order.customer_address}}
                  </div>
                </li>
                <li class="item">
                  <div class="row">
                    <strong>Pesanan:</strong>
                  </div>
                  <div class="row">
                    {{order.gallon_qty}} Galon
                  </div>
                </li>
                <li class="item">
                  <div class="row">
                    <strong>Dibawa:</strong>
                  </div>
                  <div class="row">
                    {{order.empty_gallon_qty}} Galon
                  </div>
                </li>
                <li class="item">
                    <a href="tel:{{order.customer_phone}}" class="button button-positive">Hubungi: {{order.customer_phone}}</a>
                </li>
            </ul>
          </div>
        </div>

        <div ng-show="order.status == 'Proses'">

          <div class="row">
            <div class="col col-100">
              <button ng-click="showConfirm('drop')" class="button button-full button-balanced order-details-btn" name="button">Selesai</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button ng-click="showPopup()" class="button button-full button-assertive order-details-btn" name="button">Masalah</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button ng-click="openModal()" class="button button-full button-royal order-details-btn" name="button">Edit</button>
            </div>
            <div class="col">
              <button ng-click="showConfirm('issue')" class="button button-full button-dark order-details-btn" name="button">Batal</button>
            </div>
          </div>

        </div>

        <!-- Tabs -->

      </ion-content>
    </ion-side-menu-content>

  </ion-side-menus>
</ion-view>
