<ion-view view-title="Order Issues" ng-init="init()" cache-view="false">
  <ion-side-menus>
  <!-- Left menu -->
    <div ng-include="'templates/layouts/side-menu.html'"></div>

    <ion-side-menu-content>
      <div ng-include="'templates/layouts/header.html'"></div>

      <ion-content class="has-header">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>

        <div ng-show="issues === null || issues.length < 1">
          <div class="item item-text-wrap" style="text-align:center;">
            <i>Tidak ada masalah dalam transaksi ini</i>
          </div>
        </div>

        <div ng-repeat="issue in issues" class="card" ng-click="onHold('{{issue.id}}')">
          <div class="item item-text-wrap">
            <ul class="list">
                <li class="item">
                  <strong>Masalah:</strong> {{issue.description}}
                </li>
                <li class="item">
                    <strong>Jumlah:</strong> {{issue.quantity}} Galon
                </li>
                <li class="item">
                    <strong>Solusi:</strong> {{issue.type}}
                </li>
                <!-- <li class="item">
                  <button class="button button-assertive" ng-click="showConfirm('delete-issue')">Hapus</button>
                </li> -->
            </ul>
          </div>
        </div>

        <!-- Tabs -->

      </ion-content>
    </ion-side-menu-content>

  </ion-side-menus>
</ion-view>
